[submodule "airootfs/usr/local/share/zsh-syntax-highlighting"]
	path = airootfs/usr/local/share/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "airootfs/usr/local/share/dotfiles"]
	path = airootfs/usr/local/share/dotfiles
	url = https://github.com/isayni/dotfiles
[submodule "airootfs/usr/local/share/dmenu"]
	path = airootfs/usr/local/share/dmenu
	url = https://github.com/isayni/dmenu
[submodule "airootfs/usr/local/share/dmenu-scripts"]
	path = airootfs/usr/local/share/dmenu-scripts
	url = https://github.com/isayni/dmenu-scripts
[submodule "airootfs/usr/local/share/shell-scripts"]
	path = airootfs/usr/local/share/shell-scripts
	url = https://github.com/isayni/shell-scripts
